<div class="mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="text-align:center;color:white;background-color:#52ab98">Board Name</th>
        <th scope="col" style="text-align:center;color:white;background-color:#52ab98">Creater Email</th>
         
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= mine_sweeper_board.name %></th> 
        <td><%= mine_sweeper_board.email %></td>
    </tr>
    </tbody>
  </table>
</div>
